numpy>=1.22.0
torch>=2.0.0
torchvision>=0.15.0
omegaconf>=2.3.0
matplotlib>=3.7.0
PyMuPDF>=1.22.5
ultralytics>=8.2.85
doclayout-yolo==0.0.2b1
unimernet==0.2.1
paddlepaddle>=2.5.1
paddleocr>=2.7.0
struct-eqtable>=0.1.0
lmdeploy>=0.1.0
opencv-python>=4.8.0
albumentations>=1.3.1
timm>=0.9.0
transformers>=4.30.0
scipy>=1.10.0
Pillow>=10.0.0
tqdm>=4.65.0
PyYAML>=6.0.1
setuptools>=68.0.0
